
#message{
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  font-family: monospace;
  font-size: 1.2em;
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}